/* Write your CSS here */

.list-item-container {
    list-style-type: none;
  
    border: 1px solid gray;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
  }
  
  .appointment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .star-button {
    background-color: transparent;
    border: none;
  }
  