.NotFoundImage {
    width: 400px;
    height: 500px;
  }
  .NotFoundContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .pageNotFoundDescription {
    color: #1e293b;
  }
  .pageNotFoundHeading {
    color: #1e293b;
  }
  